body {
    transition : all 1s;
}

.container
{
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
}

.btn
{
    height: 30px;
    width: 20%;
    background-color: rgb(250, 96, 122);
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 5%;
    cursor: pointer;
}

.lightbtn
{
    background-color:rgb(243, 136, 154);
}

.container2
{
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
}

h6
{
    color: rgb(151, 151, 151);
    margin-top: -2%;
}

#h3
{
    color: rgb(233, 67, 94);
    margin-top: 6%;
}
.h3
{
    color: rgb(250, 96, 122);
    margin-top: 6%;
}

p
{
    font-size: 13px;
    margin-top: -2%;
}

.body
{
    background-color: black;
    color: white;
    transition: all 1s linear;
}

